# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(3,10)

10

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [23]:
def animal_crackers(text):
    mylist=[]
    for word in text.split():
        mylist.append(word[0])
    if mylist[0]==mylist[1]:
        return True
    else:
        return False

In [24]:
# Check
animal_crackers('Levelheaded Llama')

True

In [205]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [204]:
# Check
animal_crackers('Crazy Car')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [49]:
def makes_twenty(n1,n2):
    if n1+n2==20:
        return True
    elif n1==20 or n2==20:
        return True
    else:
        return False

In [50]:
# Check
makes_twenty(10,10)

True

In [53]:
# Check
makes_twenty(30,20)

True

In [54]:
#check
makes_twenty(10,12)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [62]:
def old_macdonald(name):
    mylist=[]
    for letter in range(len(name)):
        if letter ==0 or letter==3:
            mylist.append(name[letter].upper())
        else:
            mylist.append(name[letter])
    return "".join(mylist)

In [63]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [64]:
#check
old_macdonald('ejaz')

'EjaZ'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [99]:
def master_yoda(text):
    mylist=text.split()
    mylist.reverse()
    mylist
    return " ".join(mylist)

In [100]:
# Check
master_yoda('I am home')

'home am I'

In [101]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [106]:
def almost_there(n):
    if n>=90 and n<=110:
        return True
    elif n>=190 and n<=210:
        return True
    else:
        return False

In [107]:
# Check
almost_there(104)

True

In [108]:
# Check
almost_there(150)

False

In [109]:
# Check
almost_there(209)

True

In [113]:
# Check
almost_there(180)

False

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [130]:
count=0
def has_33(nums):
    for num in nums:
        if num==3:
            count=nums.index(num)
            break
    if nums[count+1]==3:
        return True
    else:
        return False

In [131]:
# Check
has_33([1, 3, 3])

True

In [132]:
# Check
has_33([1, 3, 1, 3])

False

In [133]:
# Check
has_33([3, 1, 3])

False

In [134]:
# Check
has_33([3,1,3,2,3,4,5,3,3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [140]:
def paper_doll(text):
    mylist=[]
    for letter in text:
        mylist.append(letter*3)
    return "".join(mylist)

In [141]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [142]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [149]:
def blackjack(a,b,c):
    x=a+b+c
    if x<=21:
        return x 
    elif x>21:
        for num in (a,b,c):
            if num==11:
                x=x-10
                if x<21:
                    return x
        else:
            return 'BUST'

In [146]:
# Check
blackjack(5,6,7)

18

In [150]:
# Check
blackjack(9,9,9)

'BUST'

In [151]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [161]:
def summer_69(arr):
    add=0
    for num in arr:
        if num>=6 and num<=9:
            continue
        else:
            add=add+num
    return add

In [162]:
# Check
summer_69([1, 3, 5])

9

In [163]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [164]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [9]:
def spy_game(nums):
    count=0
    for num in nums:
        if num==0:
            count+=1
        elif num==7 and count>=2:
            return True
    else:
        return False

In [13]:
def spy_game(nums):

    spy = []

    for i in nums:

        if i == 0:

            spy.append(i)

        elif i == 7:

            spy.append(i)

    return spy[0] == 0 and spy[1] == 0 and spy[2] == 7

In [14]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [15]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [16]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [17]:
# Check
spy_game([1,8,2,0,4,5,0,6,0,9,2,7,1])

False

In [18]:
spy_game([2,4,0,0,0,0,0,0,7,8,9])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [180]:
def count_primes(num):
    count=0
    for x in range(2,num):
        for n in range(2,x):
            if x%n==0:
                break
        else:
            count+=1
        
    return count

In [184]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!